@model _01_One_To_Many.Models.Protein;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Protein Option</h1>
    <form asp-action="CreateProtein" asp-controller="Home">

        <span asp-validation-for="Name"></span>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name">
        </div>

        <span asp-validation-for="Description"></span>
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description">
        </div>

        <input type="submit" value="Submit">
    </form>
</body>
</html>